<ion-header>
  <ion-toolbar>
    <ion-title class="grey-100">
      صفحة البحث المتقدم
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class=" bg-white">

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>

      </ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-label>
            صفحة البحث المتقدم
          </ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-fab>
    <ion-fab-button class="flex-row mt-5 mr-2" [routerLink]="['/home/filter/source']">
      ابدأ الآن
    </ion-fab-button>
  </ion-fab>

</ion-content>