<ion-header>
  <ion-toolbar>
    <ion-title>
      Riders List
    </ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item>
      <ion-label>
        search
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="trash" slot="end" color="danger"></ion-icon>
      <ion-icon name="person" slot="end" color="tertiary"></ion-icon>
      <ion-label>
        rider 1
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="trash" slot="end" color="danger"></ion-icon>
      <ion-icon name="person" slot="end" color="tertiary"></ion-icon>
      <ion-label>
        rider 2
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="trash" slot="end" color="danger"></ion-icon>
      <ion-icon name="person" slot="end" color="tertiary"></ion-icon>
      <ion-label>
        rider 3
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>