<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Rider
    </ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">
  <form>
    <ion-list>
      <ion-item>  
        <ion-label>
          username
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          email
        </ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          sex
        </ion-label>
        <ion-select>
          <ion-select-option>
            male
          </ion-select-option>
          <ion-select-option>
            female
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          password
        </ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          phone Number
        </ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>